body {
  width:145px;
  height:250px;
}

table#schedule {
  width:145px;  
  margin:8px;  
}

th#header {
  border-bottom: solid 1px black;
}

tbody#entries td {
  width:70px;
  font-size:0.7em;
}

div#gadgetContent {
  height:238px;
  overflow:hidden;
}
